*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: black;
}
.header{
    background-color: #2d2f38;
    color: aliceblue;
    text-align: center;
    padding: 15px 0px 10px 0px;
}
.container{
    display: flex;
    justify-content: center;
    height: 92vh;
    align-items: center;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;

    color: aliceblue;
    background-color: #2d2f38;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.time::before {
    content: '';
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.7), rgba(255, 192, 203), rgba(0, 128, 0, 0.7));
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    filter: blur(10px);
    animation: glowing 5s ease infinite;
}

@keyframes glowing {
    0% {
        transform: scale(1);
        opacity: 0.5;
        filter: blur(10px);
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
        filter: blur(15px);
    }
    100% {
        transform: scale(1);
        opacity: 0.5;
        filter: blur(10px);
    }
}


#hours{
    font-size: 120px;
    font-weight: 600;
    padding: 0 10px;

    background: -webkit-linear-gradient(90deg, red 40%,aliceblue);
    -webkit-text-fill-color: transparent;
    background-clip: initial;
    -webkit-background-clip: text;
}

.right-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
#dots{
    font-weight: 600;
    font-size: 60px;
}
#minutes{
    font-size: 70px;
    font-weight: 600;
    margin-left: 10px;

    transform: translateY(10px);
    background: -webkit-linear-gradient(90deg, rgb(250, 4, 241) 40%,aliceblue);
    -webkit-text-fill-color: transparent;
    background-clip: initial;
    -webkit-background-clip: text;
}
/*  */
.right-down{
    margin-left: 30px;
    font-weight: 600;
    transform: translateY(-10px);
    display: flex;
}
#period{
    font-size: 30px;
    color: rgb(0, 255, 0);
    display: block;
}
#seconds{
    color: aliceblue;
    margin-left: 10px;
    font-size: 30px;
    width: 30px;
    display: block;
}
@media screen and (max-width: 768px) {
    .time{
        width: 300px;
        padding: 5px;
        border-radius: 5px;
    }
    .right-down{
        margin-left: 10px;
    }
}